@media (max-width: 1700px) {
  .categories {
    font-size: 12px;
  }
}

@media (max-width: 1400px) {
  .swiper,
  .offcanvas {
    font-size: 10px;
  }

  .block {
    padding: 20px;
  }

  .chat {
    width: 50px;
    height: 50px;
  }

  .categories {
    font-size: 6px;
  }

  .categories__card {
    height: 300px;
  }
  
  .categories__card:nth-of-type(3),
  .categories__card:nth-of-type(4),
  .categories__card:nth-of-type(5) {
    height: 400px;
  }

  .footer-wrapper {
    padding: 20px;
  }
  
  .footer__center {
    margin-bottom: 100px;
  }
}

@media (max-width: 1200px) {
  .section,
  .footer {
    font-size: 10px;
  }

  .header-wrapper {
    flex-wrap: wrap;
    gap: 0;
  }

  .header__navigation {
    width: fit-content;
  }

  .header__indicators {
    width: 100%;
  }
  
  .catalog-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .subcatalog,
  .sort-top {
    grid-column: span 2;
  }
}

@media (max-width: 991px) {
  .header-wrapper {
    padding: 0 20px;
  }

  .categories__card:nth-of-type(4),
  .categories__card:nth-of-type(5) {
    grid-column: span 2;
  }

  .categories__card:nth-of-type(3) {
    grid-column: span 4;
  }

  .categories__card:nth-of-type(3),
  .categories__card:nth-of-type(4),
  .categories__card:nth-of-type(5) {
    height: 300px;
  }

  .catalog.block {
    display: block;
  }

  .side-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
  }

  .side-menu__item {
    margin: 0;
  }

  .bread-crumbs {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .header__indicators,
  .header__navigation {
    gap: 15px;
  }

  .logo {
    width: 80px;
  }

  .categories {
    font-size: 8px;
  }

  .categories__card {
    padding: 20px;
  }

  .categories__card,
  .categories__card:nth-of-type(3),
  .categories__card:nth-of-type(4),
  .categories__card:nth-of-type(5) {
    grid-column: span 4;
  }
  
  .categories__card:nth-of-type(4) h3,
  .categories__card:nth-of-type(5) h3 {
    text-align: left;
  }

  .swiper {
    font-size: 6px;
  }

  .advantages {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .catalog-wrapper {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .catalog-wrapper .catalog__card {
    margin: auto;
    width: 100%;
  }

  .subcatalog {
    grid-template-columns: 1fr;
  }

  .subcatalog,
  .sort-top {
    grid-column: span 1;
  }

  .footer__center {
    margin-bottom: 50px;
  }
}

@media (max-width: 576px) {
  .offcanvas-body {
    padding: 0;
  }

  .submenu-list {
    padding: 0 0 0 20px;
    position: static;
  }

  .header {
    font-size: 12px;
    height: 60px;
  }

  .header__indicators img,
  .header__navigation img {
    width: 20px;
  }

  .logo {
    width: 80px;
  }

  .modal-content {
    padding: 20px;
  }

  .modal-content .modal-content__input {
    max-width: 100%;
  }
}

@media (max-width: 440px) {
  .header__navigation {
    width: 100%;
  }

  .header__indicators {
    width: fit-content;
  }

  .header__indicators, .header__navigation {
    gap: 10px;
  }

  .btn,
  .footer .btn {
    min-width: 200px;
  }

  .footer-info {
    max-width: 100%;
  }

  .footer__top {
    margin-bottom: 20px;
    justify-content: center;
    gap: 20px;
  }

  .footer__center,
  .footer-info {
    display: block;
    text-align: center;
  }

  .footer__center {
    margin-bottom: 20px;
  }
}