:root {
  --brown: #643F36;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  background-color: var(--main-blue);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: inherit;
  color: inherit;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
}

.main {
  max-width: 1920px;
  width: 100%;
  margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*-------------------------------------main-swiper--------------------------------*/

.main-swiper .swiper-button-next,
.main-swiper .swiper-button-prev {
  color: white;
  width: 30px;
  height: 30px;
}

.main-swiper .swiper-button-next {
  margin-right: 70px;
}
.main-swiper .swiper-button-prev {
  margin-left: 70px;
}

.main-swiper .swiper-pagination-bullet {
  background: white;
}

.main-swiper .swiper-pagination {
  margin-bottom: 50px;
}

.main-swiper .swiper-button-next::after {
  content: url('/assets/images/svg/right-white.svg');
}

.main-swiper .swiper-button-prev::after {
  content: url('/assets/images/svg/left-white.svg');
}

/*-------------------------------------scrollbar--------------------------------*/

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
}
*::-webkit-scrollbar-track:hover {
  background-color: rgba(255, 255, 255, 0);
}
*::-webkit-scrollbar-track:active {
  background-color: rgba(255, 255, 255, 0);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--brown);
}
*::-webkit-scrollbar-thumb:hover {
  background-color: var(--brown);
}
*::-webkit-scrollbar-thumb:active {
  background-color: var(--brown);
}

.scroll-off {
  overflow-y: hidden;
}