:root {
  --brown: #643F36;
  --text-light: white;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  background-color: var(--main-blue);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: inherit;
  color: inherit;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
}

.main {
  max-width: 1920px;
  width: 100%;
  margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*-------------------------------------main-swiper--------------------------------*/

.main-swiper .swiper-button-next,
.main-swiper .swiper-button-prev {
  color: white;
  width: 30px;
  height: 30px;
}

.main-swiper .swiper-button-next {
  margin-right: 70px;
}
.main-swiper .swiper-button-prev {
  margin-left: 70px;
}

.main-swiper .swiper-pagination-bullet {
  background: white;
}

.main-swiper .swiper-pagination {
  margin-bottom: 50px;
}

.main-swiper .swiper-button-next::after {
  content: url('/assets/images/svg/right-white.svg');
}

.main-swiper .swiper-slide {
  position: relative;
}

.main-swiper .swiper-button-prev::after {
  content: url('/assets/images/svg/left-white.svg');
}

.swiper-slide__text-box {
  position: absolute;
  color: var(--text-light);
  text-align: center;
}

.swiper-slide__text-box p,
.swiper-slide__text-box h3 {
  margin: 0;
}

.swiper-slide__text-box_top-left {
  left: 6%;
  top: 6%;
}
.swiper-slide__text-box_top-center {
  top: 6%;
  left: 0;
  right: 0;
}
.swiper-slide__text-box_top-right {
  top: 6%;
  right: 6%;
}
.swiper-slide__text-box_center-left {
  left: 6%;
  top: 50%;
  transform: translateY(-50%);
}
.swiper-slide__text-box_center-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.swiper-slide__text-box_center-right {
  right: 6%;
  top: 50%;
  transform: translateY(-50%);
}
.swiper-slide__text-box_bottom-left {
  bottom: 6%;
  left: 6%;
}
.swiper-slide__text-box_bottom-center {
  bottom: 7%;
  left: 0;
  right: 0;
}
.swiper-slide__text-box_bottom-right {
  bottom: 6%;
  right: 6%;
}

/*-------------------------------------scrollbar--------------------------------*/

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
}
*::-webkit-scrollbar-track:hover {
  background-color: rgba(255, 255, 255, 0);
}
*::-webkit-scrollbar-track:active {
  background-color: rgba(255, 255, 255, 0);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--brown);
}
*::-webkit-scrollbar-thumb:hover {
  background-color: var(--brown);
}
*::-webkit-scrollbar-thumb:active {
  background-color: var(--brown);
}

.scroll-off {
  overflow-y: hidden;
}